coverage/*
dist/*
lib/*
node_modules/*
README.md
stats.json
jest-test-results.json
.vscode/*

packages/**/coverage/*
packages/**/dist/*
packages/**/lib/*
packages/**/node_modules/*
packages/**/README.md
packages/**/stats.json
packages/**/jest-test-results.json